asgiref==3.9.1
black==25.1.0
click==8.1.8
Django==4.2.24
djangorestframework==3.16.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.15.0
